@import url('https://fonts.cdnfonts.com/css/general-sans');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

body {
  background: #010103;
  font-family: 'General Sans', sans-serif;
  opacity: 0;
  animation: bodyFadeIn 5s ease-in-out forwards;
}

@keyframes bodyFadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}




@layer utilities {
  .c-space {
    @apply sm:px-10 px-5;
  }

  .head-text {
    @apply sm:text-4xl text-3xl font-semibold text-gray_gradient;
  }

  .nav-ul {
    @apply flex flex-col items-center gap-7 sm:flex-row md:gap-14 relative z-20;
  }

  .nav-li {
    @apply text-neutral-400 font-[500]  hover:text-white font-generalsans max-sm:hover:bg-black-500 max-sm:w-full max-sm:rounded-md py-2 max-sm:px-5;
  }

  .nav-li_a {
    @apply text-lg md:text-[18px] flex items-center gap-1 hover:text-white transition-colors;
  }

  /* GitHub button styles */
.github-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 40px;
  background-color: #1a1a1a;
  border-radius: 5px;
  padding: 5px;
  transition: all 0.4s ease-in-out;
}

.github-button:hover {
  background-color: #333;
  transform: translateY(-3px);
}

.github-logo {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.star-logo {
  width: 14px;
  height: 14px;

}

  .nav-sidebar {
    @apply absolute left-0 right-0 bg-black-200 backdrop-blur-sm transition-all duration-300 ease-in-out overflow-hidden z-20 mx-auto sm:hidden block;
  }

  .text-gray_gradient {
    @apply bg-gradient-to-r from-[#BEC1CF] from-60% via-[#D5D8EA] via-60% to-[#D5D8EA] to-100% bg-clip-text text-transparent;
  }

 
  .btn {
    @apply flex gap-4 items-center justify-center cursor-pointer p-3 rounded-md  transition-all active:scale-95 text-white mx-auto mb-[-10px];
  }

  .glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 600;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right, #1a1a3a 0%, #1a1a1a 51%, #1a3a2a  100%);
    left: 0;
    top: 0;
    border-radius: 10px;
}


@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

  .btn-ping {
    @apply animate-ping absolute inline-flex h-full w-full rounded-full bg-green-400 opacity-75;
  }

  .btn-ping_dot {
    @apply relative inline-flex rounded-full h-3 w-3 bg-green-500;
  }


 /* Common styles for logos */
.logo {
  position: absolute;
  opacity: 0;
  animation: fadeIn 3s forwards ease-in-out, glow 3s infinite alternate ease-in-out;
}

/* React logo */
.react-glowing-logo {
  margin-left: -80px;
  margin-top: -430px;
  animation-delay: 3s, 3s;
}

/* Node.js logo */
.node-glowing-logo {
  margin-left: 100px;
  margin-top: -160px;
  animation-delay: 6s, 6s;
}

/* Express logo */
.express-glowing-logo {
  margin-left: 1270px;
  margin-top: -450px;
  animation-delay: 9s, 9s;
  width: 100px;
}

/* MongoDB logo */
.mongo-glowing-logo {
  margin-left: 1050px;
  margin-top: -170px;
  animation-delay: 12s, 12s;
}

/* Glow effect */
@keyframes glow {
  0% {
      filter: drop-shadow(0 0 5px #61dafb);
  }
  100% {
      filter: drop-shadow(0 0 25px #61dafb);
  }
}

/* Fade-in effect */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  25% {
      opacity: 0.1;
  }
  50% {
      opacity: 0.2;
  }
  75% {
      opacity: 0.5;
  }
  90% {
      opacity: 0.7;
  }
  100% {
      opacity: 1;
  }
}

  

  /* hero section */
  .hero_tag {
    @apply text-center xl:text-6xl md:text-5xl sm:text-4xl text-3xl font-generalsans font-black !leading-normal;
  }

  /* Smoother animations for hero section */
.hero_tag span {
  transition: color 0.6s ease-in-out, text-shadow 0.6s ease-in-out;
}

.hero_tag span:hover {
  text-shadow: 0 0 10px rgba(0, 255, 200, 0.8);
}


  /* about section */
  .grid-container {
    @apply w-full h-full border border-black-300 bg-black-300 bg-opacity-55 rounded-lg sm:p-7 p-4 flex flex-col gap-5;
}


  .grid-headtext {
    @apply text-xl font-semibold mb-2 text-white font-generalsans;
  }

  .grid-subtext {
    @apply text-[#afb0b6] text-base font-generalsans;
  }

  .copy-container {
    @apply cursor-pointer flex justify-center items-center gap-2;
    user-select: none;
    pointer-events: auto;;
  }

  /* projects section  */
  .arrow-btn {
    @apply w-10 h-10 p-3 cursor-pointer active:scale-95 transition-all rounded-full arrow-gradient;
  }

  .tech-logo {
    @apply w-10 h-10 rounded-md p-2 bg-neutral-100 bg-opacity-10 backdrop-filter backdrop-blur-lg flex justify-center items-center;
  }

  
  /*  work experience section */
  .work-container {
    @apply grid lg:grid-cols-3 grid-cols-1 gap-5 mt-12;
  }

  .work-canvas {
    @apply col-span-1 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content {
    @apply col-span-2 rounded-lg bg-black-200 border border-black-300;
  }

  .work-content_container {
    @apply grid grid-cols-[auto_1fr] items-start gap-5  transition-all ease-in-out duration-500 cursor-pointer hover:bg-black-300 rounded-lg sm:px-5 px-2.5;
  }

  .work-content_logo {
    @apply rounded-3xl w-16 h-16 p-2 bg-black-600;
  }

  .work-content_bar {
    @apply flex-1 w-0.5 mt-4 h-full bg-black-300 group-hover:bg-black-500 group-last:hidden;
  }

  /* contact section */
  .contact-container {
    @apply max-w-xl relative z-10 sm:px-10 px-5 mt-12;
  }

  .field-label {
    @apply text-lg text-white-600;
  }

  .field-input {
    @apply w-full bg-black-300 px-5 py-2 min-h-14 rounded-lg placeholder:text-white-500 text-lg text-white-800 shadow-black-200 shadow-2xl focus:outline-none;
  }

  .field-btn {
    @apply bg-black-500 px-5 py-2 min-h-12 rounded-lg shadow-black-200 shadow-2xl flex justify-center items-center text-lg text-white gap-3;
  }

  .field-btn_arrow {
    @apply w-2.5 h-2.5 object-contain invert brightness-0;
  }

  /*  footer */
  .social-icon {
    @apply w-12 h-12 rounded-full flex justify-center items-center bg-black-300 border border-black-200;
  }
}

.waving-hand {
  animation-name: wave-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  transform-origin: 70% 70%;
  display: inline-block;
}

.arrow-gradient {
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 10%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.000025) 50%,
    rgba(255, 255, 255, 0.025) 100%
  );
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(14deg);
  }
  30% {
    transform: rotate(-8deg);
  }
  40% {
    transform: rotate(14deg);
  }
  50% {
    transform: rotate(-4deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}